[Unit]
Description=%%DESCRIPTION%%
After=network.target

[Service]
Type=simple
User=%%USER%%
WorkingDirectory=%%WORKING_DIR%%
ExecStart=%%EXEC_START%%
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
